.git
.gitignore
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/.venv
**/venv
**/venv*/
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/.idea
**/.vscode
**/node_modules
**/dist
**/build
**/.DS_Store


